*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: "Nunito Sans", sans-serif;
}
html{
    overflow-x: hidden;
}
body{
    background: rgb(30, 30, 30);
    color: #fff;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
ul li{
    list-style: none;
    list-style-type: none;
}